version: 1.2.3.{build}
image: Visual Studio 2017
configuration: Release
assembly_info:
  patch: true
  file: Source\**\AssemblyInfo.*
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- ps: pushd Source
- nuget restore
- ps: popd
build:
  project: Source\CM.Payments.SDK.sln
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
before_package:
- ps: pushd Source
- nuget pack CM.Payments.SDK.nuspec -Symbols -Properties configuration=%CONFIGURATION%;version=%APPVEYOR_BUILD_VERSION% -OutputDirectory ..\Dist
- ps: popd
artifacts:
- path: Dist\*
  name: Nuget
deploy:
  provider: NuGet
  api_key:
    secure: J0TIL622rEmwgQwM1u36ztPiVjQtT63HqwM7CyHajWqc5xqFQP7iFGkY2otBVGjr #  https://ci.appveyor.com/tools/encrypt
  skip_symbols: true
  artifact: /.*\.nupkg/
